<% provide(:title, "БЕЗНОГNМ") %>
<div>
<div class="pull-l">
	<div class="span3">
	<div class ="well sidebar-nav">
		
	    <ul class="nav nav-list">
			<li class="nav-header">Навігація</li>
			<li><a href="/">На головну</a></li>			
			<li class="active"><a href="/help">Help</a></li>
			<li class="divider"></li>
			<li><a href="#">Библиотека</a></li>
  		</ul>
  	</div>
</div></div>
<div class="span8">
<div class="center hero-unit">
<div class="row">
  <aside class="span8">
    <section>
      <h1>
		1)НЕ ПЫТАЙТЕСБ ЧТОТ0 N3МЕНИТЬ! 2)ДУМАNT3 ТОЛЬКО О СЕБЕ! 3)РУКИ 4)ДОСМОТ?
      </h1>
    </section>
  </aside>
</div>
</div>