<% provide(:title, 'Послуги') %>
<div>
<div class="pull-l">
	<div class="span3">
	<div class ="well sidebar-nav">
		
	    <ul class="nav nav-list">
			<li class="nav-header">Навігація</li>
			<li><a href="/">На головну</a></li>
			<li><a href="/signup">Реєстрація</a></li>
			<li><a href="#">Help</a></li>
			<li class="divider"></li>
			<li class="active"><a href="/services">Наші послуги</a></li>
  		</ul>
  	</div>
</div></div>
<div class="span8">
<div class="center hero-unit">
  <h1>Перевозимо завжди!</h1>
	<p>Ми займаємось якимись вантажоперевезеннями.</p>  
	<p>Більше нічим.</p> 
	<p>А навіщо іншим чимось займатись?</p>   
	<p>Хіба що ТПтаСПП...</p> 
  </h2>
    <p>Якщо не вірете - ось доказ:</p>
  <h2>
    <a href="http://prooflink.ru/" class="btn btn-large btn-primary">Інфа</a>
  </h2>
</div>

</div>
</div>
