<% provide(:title, 'Home') %>
<div>
<div class="pull-l">
	<div class="span3">
	<div class ="well sidebar-nav">
		
	    <ul class="nav nav-list">
			<li class="nav-header">Заголовок</li>
			<li class="active"><a href="/welcome/index">На главную</a></li>
			<li><a href="#">Help</a></li>
			<li class="divider"></li>
			<li><a href="#">Библиотека</a></li>
  		</ul>
  	</div>
</div></div>
<div class="span8">
<div class="center hero-unit">
  <h1>Перевозимо завжди!</h1>
	<p>Ми компанія з 50 річним досвідом роботи, яка працює у сфері <s>намаху</s> перевезеь вантажів.</p>    
  </h2>
    <p>Якщо не вірете - ось доказ:</p>
  <h2>
    <a href="lurkmore.to/Инфа_100" class="btn btn-large btn-primary">Інфа</a>
  </h2>
</div>

</div>
</div>

